@font-face {
    font-family: 'Freakshow1';
    src: url('../fonts/Freakshow.ttf');
}

@font-face {
    font-family: 'Freakshow3';
    src: url('../fonts/freakshow_3.ttf');
}

@font-face {
    font-family: 'Overconsumption';
    src: url('../fonts/Overconsumption.ttf');
}

@font-face {
    font-family: 'fanzine';
    src: url('../fonts/fanzine.ttf');
}

@font-face {
    font-family: 'punk01';
    src: url('../fonts/punk01.ttf');
}

@font-face {
    font-family: 'punk02';
    src: url('../fonts/punk02.ttf');
}

@font-face {
    font-family: 'punk03';
    src: url('../fonts/punk03.ttf');
}

@font-face {
    font-family: 'punk05';
    src: url('../fonts/punk05.ttf');
}

@font-face {
    font-family: 'punk07';
    src: url('../fonts/punk07.ttf');
}