*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Futura BdCn BT', sans-serif;
    color: var(--darkBlue);
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace; 
    background-color: #FF69B4;  /* Bright pink background */
    color: #000;
}

#progress{
    grid-area: progress;
    border-bottom: 5px solid;
    border-color: rgb(0, 0, 0, 0.5);
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

nav {
    display: flex;
    position: fixed;
    justify-content: right;
    top: 0;
    right: 0;
    width: 150px;
    z-index: 99;
    grid-area: nav;
}

#menu {
    background-color: rgb(255, 255, 255);
    font-family: 'fanzine', 'Permanent Marker', cursive;
    color: #000;
    text-decoration: none;
    margin: 15px;
    padding: 5px 5px;
    font-size: 2vw;
    transform: rotate(-2deg);
}

#main-menu {
    display: none;
    justify-content: center;
    margin-bottom: 30px;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
}

.nav-item {
    justify-content: center;
    font-family: 'fanzine', 'Permanent Marker', cursive;
    width: 150px;
    height: 50px;
    margin: 15px;
    padding: 5px 10px;
    list-style-type: none;
}

.nav-item a{
    color: #000;
    text-decoration: none;
    transform: rotate(-2deg);
}

.nav-item a:hover {
    color: #FF69B4;
}


.project-item {
    background-color: #E6E6FA;  /* Light purple for project items */
    padding: 10px;
    margin-bottom: 15px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000;
}

form button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


#recognition {
    font-size: xx-small;
}

.social-icons {
    display:flex;
}

.icon {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

footer {
    font-family: 'punk02','Courier New', Courier, monospace;
    color: #333;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Mobile */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    
    .nav-item {
        margin-bottom: 10px;
    }
}

